@theme {
  --radius: initial;
}

@utility rounded-* {
  --tw-radius: --value(--radius-*);
}

@utility rounded-none {
  --tw-radius: 0px;
}

@utility rounded-full {
  --tw-radius: calc(infinity* 1px);
}

@utility rounded {
  border-radius: var(--tw-radius-default);
}

@utility rounded-tr {
  border-top-right-radius: var(--tw-radius-inner, var(--tw-radius-default));
}

@utility rounded-tl {
  border-top-left-radius: var(--tw-radius-inner, var(--tw-radius-default));
}

@utility rounded-bl {
  border-bottom-left-radius: var(--tw-radius-inner, var(--tw-radius-default));
}

@utility rounded-br {
  border-bottom-right-radius: var(--tw-radius-inner, var(--tw-radius-default));
}

@utility rounded-auto {
  border-radius: var(--tw-radius-inner, var(--tw-radius-default));
}

@layer utilities {
  :is(.rounded-auto, .rounded, .rounded-tr, .rounded-tl, .rounded-br, .rounded-bl) {
    @variant ui-xs {
      --tw-radius-default: var(--radius-sm);
    }

    @variant ui-sm {
      --tw-radius-default: var(--radius-md);
    }

    @variant ui-md {
      --tw-radius-default: var(--radius-lg);
    }

    @variant ui-lg {
      --tw-radius-default: var(--radius-lg);
    }
  }
  .rounded-auto,
  :has(.rounded-auto) {
    @container not style(--is-odd: 1) {
      &:is(
        .rounded-xs,
        .rounded-sm,
        .rounded-md,
        .rounded-lg,
        .rounded-xl,
        .rounded-2xl,
        .rounded-3xl,
        .rounded-4xl
      ) {
        --current-padding1: 0px;
      }

      & {
        --is-odd: 1;
        --padding: max(var(--tw-pt, 0px), var(--tw-pr, 0px), var(--tw-pb, 0px), var(--tw-pl, 0px));

        --current-padding0: calc(var(--current-padding1, 0px) + var(--padding));
        --current-padding: var(--current-padding0);

        --tw-radius-inner: max(
          var(--tw-radius-default),
          calc(var(--tw-radius) - var(--current-padding1, var(--padding, 0px)))
        );
      }
    }

    @container style(--is-odd: 1) {
      &:is(
        .rounded-xs,
        .rounded-sm,
        .rounded-md,
        .rounded-lg,
        .rounded-xl,
        .rounded-2xl,
        .rounded-3xl,
        .rounded-4xl
      ) {
        --current-padding0: 0px;
      }

      & {
        --is-odd: 0;
        --padding: max(var(--tw-pt, 0px), var(--tw-pr, 0px), var(--tw-pb, 0px), var(--tw-pl, 0px));

        --current-padding1: calc(var(--current-padding0, 0) + var(--padding));
        --current-padding: var(--current-padding1);

        --tw-radius-inner: max(
          var(--tw-radius-default),
          calc(var(--tw-radius) - var(--current-padding0, var(--padding, 0px)))
        );
      }
    }
  }
}
