@utility p-* {
  --tw-p: --spacing(--value(number));
  --tw-p: --value([*]);
  --tw-px: var(--tw-p);
  --tw-py: var(--tw-p);

  --tw-pt: var(--tw-py);
  --tw-pr: var(--tw-px);
  --tw-pb: var(--tw-py);
  --tw-pl: var(--tw-px);
}

@utility px-* {
  --tw-px: --spacing(--value(number));
  --tw-px: --value([*]);
  --tw-pl: var(--tw-px);
  --tw-pr: var(--tw-px);
}

@utility py-* {
  --tw-py: --spacing(--value(number));
  --tw-py: --value([*]);
  --tw-pt: var(--tw-py);
  --tw-pb: var(--tw-py);
}

@utility pt-* {
  --tw-pt: --spacing(--value(number));
  --tw-pt: --value([*]);
}

@utility pr-* {
  --tw-pr: --spacing(--value(number));
  --tw-pr: --value([*]);
}

@utility pb-* {
  --tw-pb: --spacing(--value(number));
  --tw-pb: --value([*]);
}

@utility pl-* {
  --tw-pl: --spacing(--value(number));
  --tw-pl: --value([*]);
}

@utility bleed {
  margin-block: calc(var(--tw-py) * -1);
  margin-inline: calc(var(--tw-px) * -1);
}

@utility bleed-x {
  margin-inline: calc(var(--tw-px) * -1);
}

@utility bleed-y {
  margin-block: calc(var(--tw-py) * -1);
}

@utility bleed-l {
  margin-left: calc(var(--tw-pl) * -1);
}

@utility bleed-r {
  margin-right: calc(var(--tw-pr) * -1);
}

@utility bleed-t {
  margin-top: calc(var(--tw-pt) * -1);
}

@utility bleed-b {
  margin-bottom: calc(var(--tw-pb) * -1);
}
